@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 60px;
    color: white;
}

.main-list-div {
    margin: auto;
    width: 75%;
}

.main-list {
    list-style-type: none;
}

.list-item {
    background-color: #3792cb;
    margin-bottom: 2%;
    padding: 1rem;
    border-radius: 25px;
    list-style-type: none;
}

.todo-input {
    width: 100%;
    font-size: 25px;
    background-color: #282c34;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #3792cb;
    text-align: center;
    color: white;
}

.delete-btn {
    margin-left: 90%;
    background-color: #3792cb;
    border: none;
    border-radius: 50%;
}

.delete-btn:hover {
    background-color: #5a9dc7;
    cursor: pointer;
}